<% if @moderator %>
  <h4> You are a moderator of this subrepposteddit </h4>
<% end %>

<table class="table table-hover table-striped table-condensed">
  <h2> <%= @room.name %> </h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>User</th>
      <th>Vote</th>
      <th>Score</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @messages = @messages.sort_by { |message| message.vote_total }%>
    <% @messages.reverse! %>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.title, room_message_path(@room.id, message.id) %></td>
        <td><%= message.text %></td>
        <td><%= message.user.first_name %></td>


        <td>
          <a href ="#" class="glyphicon glyphicon-arrow-up ajax-upvote" data-room-id=<%= @room.id %> data-message-id=<%= message.id %>>
        </td>

        <td>
          <a href ="#" class="glyphicon glyphicon-arrow-down ajax-downvote" data-room-id=<%= @room.id %> data-message-id=<%= message.id %>>
        </td>



        <!-- UPVOTE -->

        <td> <%= message.vote_total %>
        <!-- Downvote -->


        <td> <% if policy(message).edit? %>
              <%= link_to "Edit", edit_room_message_path(@room.id, message.id), class: "btn btn-primary" %>
            <% end %>
        </td>
        <td> <% if policy(message).destroy? %>
              <%= link_to "Delete", room_message_path(@room.id, message.id), method: :delete, class: "btn btn-danger" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New Post", new_room_message_path(@room.id), class: "btn btn-primary" %>
</div>
