<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>User</th>
      <th>Buttons</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title %></td>
        <td><%= message.text %></td>
        <td><%= message.user.first_name %></td>
        <td><%= link_to "Delete", room_message_path(@room.id, message.id), method: :delete, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to "New Comment", new_room_message_path(@room.id), class: "btn btn-primary" %>
</table>
